/******************** Imported Fonts ************************/

@font-face {
  font-family: 'Avenir Next';
  src:  url('../fonts/Avenir Next.ttc') format('ttc');
  src:  url('../fonts/Avenir.ttc') format('ttc'),
}


/************************ Universal ************************/

* {
	box-sizing: border-box;
}

body {
	font-family: 'Avenir', Arial, sans-serif;
}



/************************ Homepage Header ************************/

header {
	padding-top: 10px;
}

header.home-header {
	position: absolute;
	left: 0;
	right: 0;
}

nav li {
list-style-type: none;
}

nav ul {
	padding-left: 0;
}

.desktop-nav ul {
	float: right;
}

.navlinks li a {
	color: white;
	font-weight: 400;
	font-size: 15px;
	text-decoration: none;

}

#contact-btn {
	border-radius: 6px;
	border: 2px solid #fff;
	padding: 10px 20px;
}

#contact-btn:hover {
	background-color: #fff;
}


.desktop-nav > ul > li {
	float: left;
	display: inline-block;
	position: relative;
	padding: 15px 20px 25px;
	
}

.menu-item-has-children:hover {
	color: #61C0C7;
	background-color: white;

}

.desktop-nav a, .desktop-nav .menu-item-has-children:hover > a {
	color: #61C0C7;
}

.desktop-nav .menu-item-has-children:hover > a:after { 
	content: url(''); /* regular state */
}

.desktop-nav .menu-item-has-children:hover > a:after {
	content: url(''); /* hover state arrow */
}

.desktop-nav ul li a:hover {
	color: #61C0C7;
	
}

/*Fix*/
.arrow {
	color: #fff;
	font-size: 10px;
}




/************************ Inner Pages Header ********************/

.main-header {
	background-color: #615E79;
}

.desktop-nav ul li a:active {
	color: #61C0C7;
	
}

/*dl, ol, ul {
	margin-bottom: 0rem;
}
*/


/************************ Dropdown Menu Styles ************************/

.dropdown {
	position:absolute;
	background-color: white;
	width: 235px;
	padding: 0px;
	margin: 49px 0 0 -112px;
	display: none;
}

.dropdown li {
	padding: 10px 0px 10px 20px;
}


.dropdown li a {
	color: #4D6162;
}


.menu-item-has-children:hover > .dropdown {
	display: initial;
}



/************************ Content Side Navigation Styles **************/

.side-nav-link {
	padding: 7px 0px;
}

.side-nav h5 {
	font-size: 24px;
	font-family: 'Avenir';
	font-weight: 300;
	
}

.side-nav h5 a {
	color: #4D6162;
	text-decoration: none;
	padding-left: 20px;
}	

.side-nav a:hover {
	border-left: 3px solid #61C0C7;
	
}




/************************ Header Styles ************************/

.hero {
	height: 100vh;
	min-height: 500px;
	background: #3967A2 url('../img/chicago.jpg') no-repeat center / cover;
}


/************************ Hero Text Styles ********************/

.hero-content {
	float: left;
	text-align: center;
	color: white;
}

.hero-content h1 {
	font-weight: 700;
	font-size: 53px;
	margin: 0px;
}

.hero-content h2 {
	font-weight: 300;
	font-size: 10px;
	margin-top: 5px;
}

.hero-content h3 a {
	padding: 8px 30px;
	background-color: #67E2EB;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 25px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.31);

}

.hero-content h3{
	margin-top: 30px;
}


/************************ 3 col area styles ************************/

.three-column-sec {
	border: 1px solid #ccc;
	margin:40px 20px;
}

.three-column-sec h4 {
	color: #615E79;
	font-family: 'Bentham', Times, serif;
	margin: 25px 0px 0px 0px;
}

.three-column-sec p {
	padding: 30px;
	margin-top: 0px;
}

/************************ 3 col area button Styles ************************/

.three-column-sec a {
	margin: 0px 25px 35px 0px;
	font-size: 17px;
	text-decoration:none;
	color: #61C0C7;
	font-family: 'Open Sans';
	font-weight: 400;
}

.three-column-sec a::after {
	content:url(../img/rightarrow.png);
	position: relative;
	top: 3px;
	left: 5px;
}


/************************ Footer Styles ************************/

footer {
	background-color: #615E79;
	margin-top: 70px;
}

footer p, address {
	text-align: center;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	margin: 0px;
}

.footer-top-p {
	padding-top: 10px;
}

.footer-last-p {
	padding-bottom: 15px;

}

/************************ Media Queries ************************/

@media (min-width: 600px) {

  .hero-content {
		text-align: right;

  	/* Vertically Alignment*/
		position: relative;
		top: 50%;
		-webkit-transform: translateY(-80%);
		-ms-transform: translateY(-80%);
		transform: translateY(-80%);
}

.hero-content h1 {
}

.hero-content h2 {
	font-weight: 400;
	font-size: 25px;
	margin-top: 5px;
}

  
}

/************************ About page ************************/

.content-heading {
	font-family: 'Bentham';
	font-size: 48px;
	color: #0C222C;
	margin: 90px 0px 67px;
}

.page-content h4 {
	font-family: 'Bentham';
	font-size: 34px;
	color: #615E79;
	margin: 100px 0px 0px; 
}

.page-content p {
	color: #4A4A4A;
	font-size: 18px;
	font-family: 'Avenir';
	font-weight: 300;
}

/*.page-content img {
	margin-bottom: 40px;
}*/


.first-p {
	margin-top: 40px;
}


/*.figure-sec h6 {
	width: 250px;
	font-family: 'Open Sans';
	font-size: 15px;
	font-weight: 400;

}*/

/************************ Programs /BAR PROCESS MANAGEMENT page **********/
.page-content ul {
	color:#4D6162;
}

.page-content h5 {
	margin-top: 50px;
	padding-bottom: 7px;
	font-size: 24px;
	font-family: 'Avenir';
	color: #4D6162;
	border-bottom: 3px solid #61C0C7;
	display: inline-block;

}

.program-pricing p {
	margin-bottom: 0px;
}

.program-pricing strong {
	font-weight: 700;
	color: #4D6162;
}

.in-ptag-link {
	text-decoration: underline;
	color: #61C0C7;
}

.coordinators p {
	font-weight: 400;
}

.apply-btn h3 {
	margin-top: 80px;
	line-height: 24px;
	height: 28px;
}


.apply-btn h3 a {
	padding: 12px 70px;
	background-color: #61C0C7;
	border-radius: 10px;
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	font-size: 25px;


}

.apply-btn h3 a:hover {
	background-color: #67E2EB;
}

.exam-day strong {
	font-weight: 700;
}

.exam-schedule p {
	margin-bottom: 5px;
}

.exam-schedule ul li:first-child {
	margin-top: 10px;
}

/************************ Form Styles ************************/

form {
  max-width: 530px;
  margin: auto;
  height: 331px;
  background: #F8F8F8;
 
}

form label,
form input,
form a,
form button {
	display: block; 
}

form label {
	font-size: 18px;
	pad
}

form input {
	padding: 6px 200px 6px 13px;
	border-radius: 6px;
	color: #979797;
}
/*
::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
   color: #9B9B9B;
   
}*/

input:placeholder-shown {
  color: #9B9B9B;
}
 









/************************ Clear Floats ************************/

.clearfloat:after {
	content: "";
	display: table;
	clear: both;
}

